<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>

    <p class="schedule-description">07/09 - <b>DjangoGirls</b> | 08-09/09 - <b>Palestras</b> | 10/09 - <b>Sprints</b></p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day00" class="item-link active">07/09</a>
        </li>

        <li class="item">
          <a href="#day01" class="item-link">08/09</a>
        </li>

        <li class="item">
          <a href="#day02" class="item-link">09/10</a>
        </li>

        <li class="item">
          <a href="#day03" class="item-link">10/10</a>
        </li>
      </ul>
    </nav>

    {% include _day00.html %}
    
    {% include _day01.html %}

    {% include _day02.html %}

    {% include _day03.html %}

  </div>
</section>
