<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>
    <a
        id="sponsorship-link"
        class="item-link"
        href="https://drive.google.com/open?id=0B3pBQspTIekgSHF6NmVKZmZDdVE"
        target="_blank"
        >Seja nosso parceiro!</a>

    <ul class="sponsors-list">

      <li class="item">
        <a class="item-link" href="http://www.ucs.br/" target="_blank">
          <p class="category">Apoio</p>
          <div class="imgs">
            <img src="images/sponsors/ucs.png" alt="Universidade de Caxias do Sul" title="Universidade de Caxias do Sul">
          </div>
        </a>
      </li>

      <li class="item">
        <a class="item-link" href="#" target="_blank">
          <p class="category">Apoio</p>
          <div class="imgs">
            <img src="images/sponsors/fotografa-ariane-tomazzoni.jpg" alt="Fotografa Ariane Tomazzoni">
          </div>
        </a>
      </li>


      <li class="item">
        <a class="item-link" href="https://pyladiespoa.pythonanywhere.com/" target="_blank">
          <p class="category">Apoio</p>
          <div class="imgs">
            <img src="images/sponsors/pyladies-poa.png" alt="PyLadies Porto Alegre">
          </div>
        </a>
      </li>

      <!-- <li class="item">
        <a class="item-link" href="#" target="_blank">
          <p class="category">Patrocinadores Platina</p>
          <div class="imgs">
            <img src="images/sponsors/lorem/no-sponser.jpg" alt="Lorem ipsum">
          </div>
        </a>
      </li-->

      <li class="item">
        <a class="item-link" href="http://devgrid.co.uk" target="_blank">
          <p class="category">Patrocinadores Ouro</p>
          <div class="imgs">
            <img src="images/sponsors/devgrid.png" alt="Your partners in software product development">
          </div>
        </a>
      </li>

      <li class="item">
        <a class="item-link" href="http://www.globo.com" target="_blank">
          <p class="category">Patrocinadores Prata</p>
          <div class="imgs">
            <img src="images/sponsors/globo.com.png" alt="Globo Com">
          </div>
        </a>
      </li>

      <li class="item">
        <p class="category">Patrocinadores Bronze</p>
        <div>
          <a class="item-link" href="http://jairojair.com" target="_blank">
          <div class="imgs" style="float: left;">
            <img src="images/sponsors/jairojair.png" alt="Now is better than never">
          </div>
          </a>
          <a class="item-link" href="http://www.eldorado.org.br" target="_blank">
          <div class="imgs" style="float: left;">
            <img src="images/sponsors/logo_eldorado.png" alt="Combinando novas tecnologias para desenhar soluções únicas em diferentes mercados">
          </div>
          </a>
        </div>
      </li>

    </ul>
  </div>
</section>
